.header {
    background-color: #cce5ff;
    min-height: 300px;
    margin: 2px 0;
 }
 
 .main {
    background-color: #d4edda;
    min-height: 500px;
    margin: 2px 0;
 }
 
 .aside {
    background-color: #f8d7da;
    min-height: 500px;
    margin: 2px 0;
 }
 
 .footer {
    background-color: #fff3cd;
    min-height: 300px;
    margin: 2px 0;
 }